  .list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li {
  margin-bottom: 5%;
  text-align: center;
}